@charset "utf-8";

.App {
    padding: 30px;
}

.main {
    display: flex;
    justify-content: center;
}
.main button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #aaa;
    cursor: pointer;
    transition: 0.1s;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    color: #666;
}
.main button:hover {
    background-color: #aaa;
    color: #fff;
}
.box {
    width: 500px;
    margin-bottom: 30px;
    border: 2px solid #aaa;
    text-align: center;
    margin: 0 10px 30px;
    border-radius: 10px;
}
.box h1, .box h2 {
    color: #333;
}
.item-img {
    width: 440px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
}

.item-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}